name: Deploy Azure Function with ARM Template

on:
  workflow_dispatch:

env:
  AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
  RESOURCE_GROUP: DynamicsDeployments-eastus
  LOCATION: Central US
  FUNCTION_APP_NAME: FunctionApp-Final

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Azure CLI
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Deploy ARM Template
      run: |
        az deployment group create \
          --subscription ${{ env.AZURE_SUBSCRIPTION_ID }} \
          --resource-group ${{ env.RESOURCE_GROUP }} \
          --template-file FunctionApps/dev-fa-optum-createpackagezipfile/template.json \
          --parameters sites_dev_fa_optum_createpackagezipfile_name=${{ env.FUNCTION_APP_NAME }} \
                      serverfarms_ASP_rgdevORxMSDynamicsRCM_9368_externalid=${{ secrets.APP_SERVICE_PLAN_ID }} \
          
    - name: Deploy Function Code
      run: |
        az functionapp deployment source config-zip \
          --name ${{ env.FUNCTION_APP_NAME }} \
          --resource-group ${{ env.RESOURCE_GROUP }} \
          --src "./FunctionApps/Azure functions/wwwroot.zip"
